body {
  
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.C901lwCcDXScbST_O00mCwHaCP&pid=Api&P=0&h=220);
    

}

.container {
    background-color: #742424;
    padding: 20px;
    border-radius: 50px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(250, 250, 250, 0.3); 
    
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

input[type="number"] {
    color: #333;
    width: 95%;
  
    padding: 10px;
    
    font-size: 16px;
    border: 1px solid #686262;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #042242;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    font-size: 18px;
    color: #007bff;
    margin: 20px 0;
    background-color: #facff0;
    padding: 10px;
    border-radius: 5px;
}

.head1 {
    color: #007bff;
}
.body1{
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

}